
.header {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
}

.header button {
    margin-bottom: 10px;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

body {
    background-color: #3E497A;
    color: #FFD700;

}

.main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block
}


h1 {
    color: #FFD700;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    font-family: 'EB Garamond', serif;
}

h2 {
    color: #FFD700;
    text-align: left;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
}

h3 {
    color: white;
    text-align: left;
    font-size: 14px;
    font-family: 'EB Garamond', serif;
    text-indent: 2%;
}

h4 {
    color: #FFD700;
    text-align: left;
    font-weight: bold;

    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

h5 {
    color: #FFD700;
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    font-family: 'EB Garamond', serif;
}

.hangingindent {
    padding-left: 22px;
    text-indent: -22px;
}

p {
    color: #FFD700;
    margin-left: 8%;
    text-indent: 4%;
    max-width: 80%;
    font-size: 16px;
    /* font-family: 'EB Garamond', serif; */
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

button {
    border: 0px;
    padding: 5px;
    background-color: black;
    color: #FFD700;
    font-size: 20px;
}