body {
    background-color: #3E497A;

    margin-left: auto;
    margin-right: auto ;
    width: 60% ;
    display: block

}

h1 {
    color: #FFD700;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
}

h2 {
    color: #FFD700;
    text-align: center;
    font-size: 14px;
    font-family: 'EB Garamond', serif;
}

h3 {
    color: white;
    text-align: left;
    font-size: 14px;
    font-family: 'EB Garamond', serif;
 text-indent: 2%;
}

h4 {
    color: #FFD700;
    text-align: left;
    font-weight: bold;
   
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}

h5 {
    color: #FFD700;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    font-family: 'EB Garamond', serif;
   }  
.hangingindent {
    padding-left: 22px ;
    text-indent: -22px ;
}

p {
    color: #FFD700;
    margin-left: 8%;
    text-indent: 4%;
    max-width: 80%;
    font-size: 12px;
    font-family: 'EB Garamond', serif;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
button {
    border: 0px;
    padding: 5px;
    background-color:  #F0F0F0;
}
