.header {
    background-color: #3E497A;
    padding: 20px;
    width: 200px; 
}

.header button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #FFD700;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}



body {
    background-color: #3E497A;
    color: #FFD700;
    font: 22px Comfortaa, sans-serif;


}
link {
    color: whitesmoke;
}
subhead {
    font-weight: bold;
    font-size: 25px;

}

.main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    display: block
}


p {
    text-align: left
}

button {
    border: 0px;
    padding: 5px;
    background-color: black;
    color: #FFD700;
    font-size: 20px;
}


.hangingindent {
    padding-left: 22px;
    text-indent: -22px;
}