body {
    background-color: #622727 ;
    color: #FFD700 ;
    font : 22px Comfortaa, sans-serif;

    margin-left: auto;
    margin-right: auto ;
    width: 60% ;
    display: block
}

p {
    text-align: left
}
button {
    border: 0px;
    padding: 5px;
    background-color:  #F0F0F0;
}
