.header {
    width: 100%;

    text-align: center;
    background: black;
    color: #FFD700;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #3E497A;
    color: #FFD700;
    font: 22px Comfortaa, sans-serif;


}
link {
    color: whitesmoke;
}
subhead {
    font-weight: bold;
    font-size: 25px;

}

.main {


    display: block
}


p {
    text-align: center
}

button {
    border: 0px;
    padding: 5px;
    background-color: black;
    color: #FFD700;
    font-size: 20px;
}


.hangingindent {
    padding-left: 22px;
    text-indent: -22px;
}